/* FUENTES */
@font-face {
    font-family: 'BebasNeue';
    src: url('/Fonts/BebasNeue/BebasNeue-Regular.woff2') format('woff2'),
        url('/Fonts/BebasNeue/BebasNeue-Regular.woff') format('woff');
}

@font-face {
    font-family: 'LouisGeorge';
    src: url('/Fonts/LouisGeorge/Louis\ George\ Cafe.ttf');
}

/* ////////////////////////////// */






body {
    background-color: aliceblue;

}

/* HEADER */
.header_flex-container {
    height: 40px;
    width: 100%;

    background-color: aliceblue;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);

}







/* GRAFICO PRINCIPAL */

main {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    min-width: 700px;

    flex-wrap: nowrap;
}

#section_principal_graph{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    height: 500px;
    width: 60%;

    /*PROVISORIO*/
    margin-top: 30px;
    

}

#border {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    height: 500px;
    width: 100%;
    min-width: 570px;
    max-width: 570px;

    background-color: aliceblue;
    border-radius: 8px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);

}

.title_border {
    
    align-self: flex-start;
    text-align: center;

    font-family: 'LouisGeorge';
    font-size: 22px;
    color: rgb(168, 173, 179);
}

#flex-principal_graph {
    width: 30px;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    margin-left: 20px;
    

}

    .ranks {
        flex-grow: 1;
        width: 30px;
        height: 40px;

        margin: 0px;
        padding: 4px;

    }

        #red {
            
            background: -webkit-linear-gradient(rgb(237, 70, 70), rgb(62, 8, 8));
            background: -moz-linear-gradient(rgb(237, 70, 70), rgb(62, 8, 8));
            background: -o-linear-gradient(rgb(237, 70, 70), rgb(62, 8, 8));

            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;

        }
        #orange {
            background: -webkit-linear-gradient(rgb(255, 166, 0), rgb(237, 70, 70));
            background: -moz-linear-gradient(rgb(255, 166, 0), rgb(237, 70, 70));
            background: -o-linear-gradient(rgb(255, 166, 0), rgb(237, 70, 70));

        }
        #yellow {
            background: -webkit-linear-gradient(rgb(237, 237, 33), rgb(255, 166, 0));
            background: -moz-linear-gradient(rgb(237, 237, 33), rgb(255, 166, 0));
            background: -o-linear-gradient(rgb(237, 237, 33), rgb(255, 166, 0));

        }
        #green {
            background: -webkit-linear-gradient(rgb(0, 255, 0), rgb(237, 237, 33));
            background: -moz-linear-gradient(rgb(0, 255, 0), rgb(237, 237, 33));
            background: -o-linear-gradient(rgb(0, 255, 0), rgb(237, 237, 33));
        }
        #hard-green {
            background: -webkit-linear-gradient(rgb(59, 196, 59), rgb(0, 255, 0));
            background: -moz-linear-gradient(rgb(59, 196, 59), rgb(0, 255, 0));
            background: -o-linear-gradient(rgb(59, 196, 59), rgb(0, 255, 0));

           
        }
        #gold {
            background: -webkit-linear-gradient(aliceblue,rgb(59, 196, 59));
            background: -moz-linear-gradient(aliceblue, rgb(59, 196, 59));
            background: -o-linear-gradient(aliceblue, rgb(59, 196, 59));

            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }


#flex-numbers_principal_graph {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 30px;
    margin-right: 15px;
}
    
    .number_ranks {
        flex-grow: 1;
        height: 30px;
        width: 40px;

        margin-left: 20px;

        display: flex;
        flex-direction: row;
        align-items: flex-end;


    }
    .numb {
        
        width: 25px;
        height: 25px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        margin-left: 5px;
        margin-bottom: 0px;
        background-color: aliceblue;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;

        font-size: 10px;
        font-weight: 600;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color:rgb(44, 44, 81);
        
    }

.positionator_container {

    width: 30px;
    height: 400px;
    margin-left: -3px;

    display: flex;
    flex-direction: column-reverse;
    flex-wrap: none;
    align-items: center;
    justify-content: flex-start;
}


.position {
    width: 15px;
    height: 1px;
    margin: 1.16px;

    display: flex;
    flex-wrap: wrap-reverse;
    
}

.component{
    height: 30px;
    width: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.square {
    width: 30px;
    height: 30px;
    background: rgb(225, 232, 238);
    border-radius: 50%;

    transform: rotate(20deg);
    box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.25);
}

.triangle{
width: 0; 
height: 0; 
border-left: 18px solid rgb(225, 232, 238);
border-top: 9px solid transparent;
border-bottom: 9px solid transparent;

margin-top: 20px;
margin-right: 30px;

border-radius: 6px;
transform: rotate(-230deg);
}


/* FORMULARIO PARA AGREGAR LAS VENTAS */

.addSell_container {
    width: 300px;
    height: 500px;

    margin-left: 60px;
    margin-top: 10px;

    align-self: flex-start;
    flex-direction: column;


}

#adderForm {
    width: 100%;
    height: 100px;
    margin-top: 70px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.topForm {
    width: 245px;
    height: 40px;
    margin-top: 10px;

    display: flex;
    flex-direction: row;
    
}

#numberOfSells{
    height: 27px;
    width: 145px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.57);
    border: none;
    border-radius: 3px;
    
}

.selectSeller {
    height: 30px;
    width: 90px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.57);
    margin: 5px;
    margin-top: 0px;
}

#addSellButton {
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.57);
    height: 25px;
    width: 245px;

    background-color: rgb(74, 179, 74);
    border: none;
    border-radius: 4px;

    font-family:Arial, Helvetica, sans-serif;
    color: aliceblue;
    transition: all .1s;

}

#addSellButton:hover {
    background-color: rgb(150, 219, 150);
    color: black;
}

                                                            /*ASIDES*/

/* #section_asides{
    height: 500px;
    width: 40%;
    margin-top: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

} */

/* CAJA DE VENDEDORES */
/* #sellers_container {
    height: 100%;
    width: 100%;
    
    border-radius: 6px;
    background-color:aliceblue;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;

}

.eachseller_container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
}

.eachseller {
    width: 96%;
    height: 45px;
    margin: 5px;
  
    
    background-color: aliceblue;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    transition: all .2s;
   
}

.eachseller:hover {
    width: 97%;
    background-color: rgb(176, 182, 188);
} */
